.spinning-logo {
    animation: spin 2s linear infinite;
  }

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
